Content Automation Flow_ RSS Feeds to Images and Google Drive.json
{
  "name": "Content Automation Flow: RSS Feeds to Images and Google Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.redflagdeals.com/rss/deals.php?city=toronto"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6adedfd9-106e-429a-8095-72968afb8cc5",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=Use the provided reference image as the exact template.\nDo not change the layout, colors, fonts, spacing, or structure.\n\nDeal Information:\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nDescription:  {{ $json.contentSnippet }}\nPublish Date: {{ $json.pubDate }}\n\nOverlay only the following text in the appropriate areas:\n\nTitle area: {{ $json.title }}\n\nPromo code area: Extract promo code from the deal description (example: BONUS15). If no code is available, display 'No code required'.\n\nLink area (if present in the template): {{ $json.link }}\n\nExpiry area: Extract expiry/expiration date from the deal description (example: 'Expires Dec 31'). If no specific date is available, display 'Limited time offer'.\n\nRules\n\nDo not add descriptions\nDo not add explanations\nDo not add extra text\nDo not redesign, resize, or reposition elements\nKeep all text short, clean, and readable\n\nStrict Requirement\n\nIn Middle there is one brand image where replace that with suitable current deal companies image if you know the brand you can put its logo with creativity but professional manner. if you dont know about brand logo you can check analyze the deal and generate a suitable professional image of logo and replace into the middle part.\n\nOutput\n\nGenerate one professional promotional image\nThe final image must match the reference template exactly",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "5c1ee493-8728-460d-b873-5eb111e1e69f",
      "name": "Edit an image",
      "credentials": {
        "googlePalmApi": {
          "id": "wfPkqwJg18HZLoBv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://upwork-usw2-prod-file-storage-wp4.s3.us-west-2.amazonaws.com/workplace/thumbnail/3e1af2c3bdd5b32c47d834c580c55b65?response-content-disposition=inline%3B%20filename%3D%22thumb_Copy%2520of%2520Copy%2520of%2520Shopping%2520Deals%2520%25281080%2520x%25201350%2520px%2529.png%22%3B%20filename%2A%3Dutf-8%27%27thumb_Copy%2520of%2520Copy%2520of%2520Shopping%2520Deals%2520%25281080%2520x%25201350%2520px%2529.png&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIHyIEN7%2BIaRsnel4l8K7ezYV9RWUk5nujqNrnydccy%2BzAiEA2aRikNN8b5bNCxmJSpXkBobt0TxeVD4Aghfgz8T%2B2OcqmwUIuP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw3Mzk5MzkxNzM4MTkiDHttFgEeMZIGSC7RZyrvBOKlTFGHLRLc6rn4eJSYun%2FCn8LTtx77KaxXl0L5Bc1YEuHQC1Z6cioXgk06EMqEoL2rY8MNwsj99cFgRBSIugjDnXBdhC1ylNZU%2FnDH29iqe4QKw2bJ%2F3RqrRQ2rNgzXc70Abdsv3mhG50qTKkbU%2Fk4hmB5VG8XsvcufxyLwN%2FFAoHyQ7ACe6wFlxHmFSkdYSSymbvoOIlGMj4BR32ikQXIiMWzF6UciqvuRu3KfzRC%2B8Vzo2ju1hTI16xH6Rm%2BqrTicU%2FJH%2B9IARn1VSXnQZVttjOp%2BLGqr13Uqi9l7xHQbZlQLxVchZPf%2BI65f3ooGoXHrBj%2B%2Bx%2BxDQENe9qcWRYJAgyWJ00A1RWrzt7e9Rxq7F5SV1kfci2BhtkHFpBkC90ZkHmxIXbPnxB%2ByNhGJ7tgw3IBOB6pLfomMncAh0NiZsYk97RCzJKuFddwsmOZEgq2sAwhua7Ti%2B8G497LbTo52XSNwqJ0e6Pyz5NdU2LQ2x6XGWnsuJK%2BIIFKzE2wq2BYKDyBdPt2cOdYgeAAy7htyBRU%2Fi%2FsmPj7lxnRjUhM8JqTWrw5cEln0H%2BVIO%2FaCI%2B6A8XWuNEbQS5JXHg0Nus04vkAaDzxhNkZi4ENQteH%2Bs7Qy3OcK4g8gbn5tOfqiZuEO8r6hJLaqZuDaC5ZYDQhu6%2B0C6GkqaHTo4zZezF9cVfdbMpOfHE9NkVWfVinTalnRk%2FQJ6y6o95NnjQoMMDu7Rb0NmX%2BBa7bVIONYcObnk9lZ2shgH8KJYwwmmbhw9dDMdWs9g%2BViJVp87vellFsRzgsTnh00S5%2Fq3XQpURtOI%2FbyeBxZOEL8RYEkq8xMMDRz8oGOpkB4oDlJh0vS1o6PN%2BxXiU%2FnzY5BCjC7B%2FMFJs%2FS3MnXUNqjsh1zvk8fwRP%2Fi4K%2FwpneUa437e4ufPivaAMlb6HvZ4GCdQBj1k2uXyP%2FX0NJzJXtoZWFfFUf31u70S4d3YUAfMCuzB7klC9fSNxsV3LAo23offSyEKkPuhKRl%2FNWkvaYMipV3%2BYGyADlD5%2FevJA%2FeD3BCiClKrQ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251230T155245Z&X-Amz-SignedHeaders=host&X-Amz-Expires=599&X-Amz-Credential=ASIA2YR6PYW57JPRTWSI%2F20251230%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fa6b4d4faf6ef2f238b787be6f455b09c45cd54c22d4e182dc6529af589953b4",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "2e88ca1f-411e-435a-ac7a-d59d4684d236",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dd561e81-365f-4168-852a-7e63af40d6a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b65dff0eac237df78e4b6d4a28aa811eb7706d94527788e15f7f40705dce935"
  },
  "id": "QJi9ESvWICEGUOOU",
  "tags": []
}