Voice-Based-Telegram-OpenAI-Chatbot.json
{
  "name": "Voice-Based-Telegram-OpenAI-Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -16
      ],
      "id": "f40cb129-8e99-4e35-a80f-2420600fff39",
      "name": "Telegram Trigger",
      "webhookId": "545f3865-b960-434b-b250-a57ed22630b0",
      "credentials": {
        "telegramApi": {
          "id": "swFGLEeSwHo7TrgC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -256
      ],
      "id": "1c08ff18-bee5-4432-bb34-dbd67b25f211",
      "name": "Send a text message",
      "webhookId": "ffadea01-fc8a-4aad-9118-2f6d6433671f",
      "credentials": {
        "telegramApi": {
          "id": "swFGLEeSwHo7TrgC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        -192
      ],
      "id": "efab7f7c-2208-4209-becb-9aa8ff900187",
      "name": "Get a file",
      "webhookId": "a8283e34-6d30-4b9c-bcf4-1964c4b0e6d3",
      "credentials": {
        "telegramApi": {
          "id": "swFGLEeSwHo7TrgC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        -224
      ],
      "id": "af84f373-3773-43d8-b699-0135aec6aad7",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "wfPkqwJg18HZLoBv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "You are Helpful assistant who is responsible to help user in its day by day conversations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -256
      ],
      "id": "6415837b-fd90-4500-ad31-30cc9159720d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        -80
      ],
      "id": "d5a04e10-d52a-4608-914f-422d396260b6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FEcwvLWBDxUZZKk0",
          "name": "Groq Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94a57d12-e7e3-4247-b6ed-f3d415680410",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -16
      ],
      "id": "d1bd80e6-cb71-45f0-bfa4-069ad0ad435e",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Helpful assistant who is responsible to help user in its day by day conversations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        112
      ],
      "id": "d641c122-2da2-4828-ab91-c46f4ce1e712",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-120b"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        288
      ],
      "id": "7d5ecdcc-3b93-4908-b231-a6edace19e24",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FEcwvLWBDxUZZKk0",
          "name": "Groq Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        112
      ],
      "id": "18a9cbbe-a3f7-4652-ae38-319fc8cd2ff6",
      "name": "Send a text message1",
      "webhookId": "ffadea01-fc8a-4aad-9118-2f6d6433671f",
      "credentials": {
        "telegramApi": {
          "id": "swFGLEeSwHo7TrgC",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "01b18d94-2219-4580-a2f6-8fbb513630ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b65dff0eac237df78e4b6d4a28aa811eb7706d94527788e15f7f40705dce935"
  },
  "id": "eT5sIA4byORETYhV",
  "tags": []
}